# Esses Arquivos são referentes as configurações locais da IDE, do Git e dos ambientes virtuais
# Não edite ou remova esses arquivos a menos que você saiba o que esta fazendo

.vscode/
lib/
bin/
Include/
Lib/
Scripts/
pyvenv.cfg
.pre-commit-config.yaml
.venv/
